<!DOCTYPE html>
<html>
	<head>
<script src="w4.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://scm.ulster.ac.uk/zhiwei.lin/js/jquery.tmpl.min.js">
</script>

<script id="film_tmpl" type="text/x-jQuery-tmpl"> <li>
Film Id: ${Film_Id}, title: ${title} ${category},description: ${description} </li>
</script>
</head>

<body>
￼
<body>
<script id="staff_tmpl" type="text/x-jQuery-tmpl">
<li>
Staff Id: ${Staff_Id}, FullName: ${FirstName} ${LastName},Campus: ${Campus},
{{ if Modules }}
Teaching modules: {{each Modules}}
<b>${$value}</b>
{{/each}}
￼￼￼￼{{else}}
No Teaching
{{/if}}
</li>
<div id="staffs"></script> 

<ul id="staff_list"> </ul>
</div>

<div id="films">
<ul id="film_list"></ul>
</div>
</body>
</html>	